*,
*:before,
*:after {
  box-sizing: border-box;
  margin:0;
}
body{
    margin: 0em;
}


h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 45px;
    margin-block-start: 1.5em;
    margin-block-end: 0em;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    font-size: 35px;
    
}




a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}



p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: 25px;
}




.pagina{
    display: grid;
    grid-template-rows: auto repeat(1,1fr);
    grid-row-gap: 20px;
}



#segunda{
    padding-top: 100px;
}



header{
    padding-bottom: 40px;
}



#espacio{
    padding-bottom: 20px;
}


#dinamic{
    position: relative;
    width: 200px;
    padding-right: 20px;
    top:15px;
    right: 150px;
}



#navega li{
    display:inline;
    padding-left: 180px;
    font-size: 14px;
    font-weight: bold;
    color: gray;

}


#campanita{
    position: relative;
    width: 25px;
    top: 10px;
    left: 200px;

}

#carritodecompras{
    position: relative;
    width: 25px;
    top: 10px;
    left: 90px;
}

#zapatos{
    padding-right: 90px;
}


.header{
    display: grid;
    padding-top: 5px;
}



.primera {
    display: grid;
    grid-template-columns: 0.6fr 0.1fr 1fr;
    gap: 1px 1px;
    padding-bottom: 50px;
    
  }
  
  .primera-div1{ 
    
    padding-left: 50px;
    
}
  
  .primera-div2 { 
    margin-top: 152px;
    margin-bottom: 74px;
    
   border-left  :38px solid #252850;
  
           
     }



   .primera-div3 { 
    position: relative;
    right:  80px;
    top: 10px;

       
                
                
         }

 .vermas1 {
    background-color:transparent;
    border-radius:28px;
    border:1px solid #030303;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:17px;
    padding:6px 112px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    text-align: left;
            
            
            
        }
        .vermas1:hover {
            background-color:transparent;
        }
        .vermas1:active {
            position:relative;
            top:1px;
        }










  .vermas {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #030303;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:6px 50px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    text-align: left;
    
    
    
}


.vermas2 {
	background-color:#252850;
	border-radius:28px;
	border:1px solid #252850;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 85px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
	
	
}














#flecha{
    position: relative;
    width: 25px;
    top: 4px;
    
}


#flechasimg{
    display: block;
    margin: auto;
    
}


#imagen1{
    width: 110%;
    
    
    

    
}

.segunda {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 0.3fr 3%;
    align-items: baseline;
    gap: 1px 20px;
    border-bottom: solid 3px #9b9b9b;
    position: relative;
    bottom:  210px;
    right: 10px;
    margin-left: 208px;
    
}

.segunda_div4{
    background-color: #252850;
    height: 208px;
    position: relative;
    bottom: 172px;
    right: 20px;
}






.segunda .vermas{
    margin: auto;
}





.segundauno{
    display: grid;
    grid-template-columns: 8% 1fr 1fr 1fr 10%;
    height: 150px;
    margin-right: 214px;
    margin-left: 229px;
}


.segundauno_div1{
    background-color: #D0C062;
}

   
  
  
.texto{
    text-align: center;
}
  


.imagenes{
    width: 100%;
}

#botones{
    text-align: center;
}


.tercerauno{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.4fr;
    gap: 1px 1px;
    padding-left: 10px;
    justify-content: center;
    text-align: center;


}

#imgcamisa{
    width: 90%;
    padding-left: 58px;
}


.tercera{
    display: grid;
    grid-template-columns:  0.7fr 1fr 40%;
    gap: 1px 1px;
    padding-left: 10px;
    position: relative;
    bottom: 250px;
    left: 260px;
    
}

.tercera-div2{
    padding-left: 50px;
    position: relative;
    z-index: 3;
}

.tercera-div3{
    position: relative;
    right: 390px;
}

.cuarta {
    display: grid;
    grid-template-columns: 0.7fr  1fr;
    gap: 1px 110px;
    z-index: 3;
    
    
  }

  .cuarta-div1{ 
    
    padding-left: 270px;
    
}

#imagen3{
    width: 80%;
    z-index: 3;
}

.cuartafinal{
    display: grid;
    grid-template-columns: 2fr  1fr;
    z-index: 2;
}

.cuartafinal-div2{
    position: relative;
    width: 500px;
    height: 170px;
    background-color: #252850;
    bottom:  150px;
    
}